@model Category


<form method="post">
	<div class="border mt-4 p-3">
		<div class="row pb-2">
			<h2 class="text-primary">Delete Category</h2>
			<hr />
		</div>

		<div class="row mb-3 p-1">
			<label asp-for="Name" class="p-0 pb-3">Category Name</label>
			<input asp-for="Name" class="form-control" disabled placeholder="Category Name" />
		</div>

		<div class="row mb-3 p-1">
			<label asp-for="Description" class="p-0 pb-3">Description</label>
			<input asp-for="Description" class="form-control" disabled placeholder="Category Description" />
		</div>

		<div class="row justify-content-center">
			<div class="col-6 col-md-3">
				<button type="submit" class="btn btn-outline-danger form-control">
					Delete Category
				</button>
			</div>

			<div class="col-6 col-md-3">
				<a class="btn btn-outline-secondary form-control " asp-controller="Category" asp-action="Index">
					Back To List
				</a>
			</div>
		</div>

	</div>

</form>